body {
  font-family: sans-serif;
  text-align: center;
  color: dimgray;
  padding-top: 1em;
}

#board {
  width: 240px;
  height: 240px;
  position: relative;
  display: inline-block;
}

.tile {
  background-color: cadetblue;
  color: white;
  width: 50px;
  height: 50px;
  position: absolute;
  -webkit-transition: -webkit-transform 0.15s ease;
  transition: -webkit-transform 0.15s ease;
  transition: transform 0.15s ease;
  transition: transform 0.15s ease, -webkit-transform 0.15s ease;
}

.tile:hover {
  cursor: pointer;
}

.tile p {
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#shuffle, #shuffle:hover, #shuffle:active {
  color: dimgrey;
  font-weight: bold;
}

#stats {
  margin: 1em auto;
  width: 224px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#nav {
  margin: 1em 0;
}
